<h2 mat-dialog-title>{{'EditExisting' | translate}}</h2>

<mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="field">
      <mat-label>{{'Name' | translate}}</mat-label>
      <input matInput formControlName="fullName" required />
      <mat-error *ngIf="userForm.get('fullName')?.hasError('required')">{{'FieldRequired' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="field">
      <mat-label>email</mat-label>
      <input matInput formControlName="email" required />
      <mat-error *ngIf="userForm.get('email')?.hasError('required')">E{{'FieldRequired' | translate}}</mat-error>
    </mat-form-field>


  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">{{'Cancel' | translate}}</button>
  <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="onSubmit()" type="submit">{{'Update'
    | translate}}</button>
</mat-dialog-actions>