<h2 mat-dialog-title>{{'Add' | translate }}</h2>

<mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
   
    <mat-form-field appearance="fill" class="field">
        <mat-label>{{'Name' | translate}}</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="userForm.get('name')?.hasError('required')">{{'FieldRequired' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>{{'Surname' | translate}}</mat-label>
        <input matInput formControlName="surname" required />
        <mat-error *ngIf="userForm.get('surname')?.hasError('required')">{{'FieldRequired' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>{{'Username' | translate}}</mat-label>
        <input matInput formControlName="username" required />
        <mat-error *ngIf="userForm.get('username')?.hasError('required')">{{'FieldRequired' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error *ngIf="userForm.get('email')?.hasError('required')">{{'FieldRequired' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>{{'Password' | translate}}</mat-label>
        <input matInput formControlName="password" required />
        <mat-error *ngIf="userForm.get('password')?.hasError('required')">{{'FieldRequired' | translate}}</mat-error>
      </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="onSubmit()" type="submit">{{'AddUser' | translate}}</button>
</mat-dialog-actions>
